<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<!-- ターゲットの定義 -->
	<targets>
		<target name="localFile"
				xsi:type="File"
				fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH-mm}_Api.Manage.log"
				layout="${longdate} ${level} ${message} ${exception:format=tostring}"
				concurrentWrites="true"
				archiveEvery="Minute"
				archiveNumbering="DateAndSequence"
				maxArchiveFiles="10"
				archiveAboveSize="10"
				enableArchiveFileCompression="true" />
	</targets>

	<!-- ログルールの定義 -->
	<rules>
		<!-- 全ロガー対象、Info以上Fatal以下 -->
		<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="localFile" />

		<!-- Microsoft名前空間のロガー、Warning以上Error以下 -->
		<logger name="Microsoft.*" minlevel="Warning" maxlevel="Fatal" writeTo="localFile" />
	</rules>

</nlog>
